<ion-header>
  <ion-toolbar>
    <ion-title>Docente App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <img src="assets/colegio.jpg" alt="Bienvenida" class="welcome-image"/>
    <ion-card-header text.align="center">
      <ion-card-title>Bienvenido Docente</ion-card-title>
    </ion-card-header>
    <ion-button expand="full" [routerLink]="['/login']" shape="round">Iniciar Sesión</ion-button>
    <ion-button expand="full" [routerLink]="['/register']" shape="round">Registrarse</ion-button>
  </div>
</ion-content>

